

.figure{
    width: 70px;
    height: 70px;
}
.point{
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: rgb(77, 4, 4);
}
.redSquare{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(122, 7, 7);
}
.blackSquare{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 72, 72);
}


.whiteSquare{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.kill{
    width: 100px;
    height: 100px;
    background-color: brown;
    
}
.clicked{
    background-color: rgba(142, 84, 159, 0.374);
}