

.figure{
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.point{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: rgb(52, 52, 52);
}
.redSquare{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(122, 7, 7);
}
.blackSquare{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(158, 106, 77);
}


.whiteSquare{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 216, 167);
}
.kill{
    width: 100px;
    height: 100px;
    background-color: brown;
    
}
.clicked{
    background-color: rgba(153, 131, 107, 0.831);
}